name: Trigger pdf/a and pdf/ua regression tests in integration-tests

on:
  push:
    tags:
      - v*

jobs:
  trigger_build:
    if: github.repository == 'veraPDF/veraPDF-apps'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Set up JDK 1.11
        uses: actions/setup-java@v1
        with:
          java-version: 1.11
      - name: Create workflow dispatch
        uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.WORKFLOW_TOKEN }}
          script: |
            await github.rest.actions.createWorkflowDispatch({
             owner: 'veraPDF',
             repo: 'verapdf-integration-tests',
             workflow_id: 'run-pdfa-tests-workflow.yml',
             ref: 'integration'
            })
